.Rproj.user
.Rhistory
.RData
.Ruserdata
AllFigures_CA.pptx
CA-English-Language-Authors.pdf
[Group1_Luke] CA English Authors.pptx
editData.R
testingMultinomialInference4CA.R
Group1_Luke CA English Authors.pptx
